table {
    border-collapse: separate;
    border: solid white 1.5px;
    border-radius: 6px;
}

td,
th {
    border-color: transparent;
    border-left: solid white 1.5px;
    border-top: solid white 1.5px;
}

th {
    background-color: transparent;
    border-top: none;
}

td:first-child,
th:first-child {
    border-left: none;
}