table {
    border-collapse: separate;
    border: solid black 1px;
    border-radius: 6px;
}

td,
th {
    border-color: transparent;
    border-left: solid black 1px;
    border-top: solid black 1px;
}

th {
    background-color: transparent;
    border-top: none;
}

td:first-child,
th:first-child {
    border-left: none;
}